<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
      <title>Getting Started: Serving Web Content</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

      <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <script src="/webjars/jquery/jquery.min.js"></script>
      <script src="/webjars/sockjs-client/sockjs.min.js"></script>
      <script src="/webjars/stomp-websocket/stomp.min.js"></script>
      <script>
        let jwt = "[[${jwt == null ? null : jwt.JWT}]]";
      </script>
      <script src="/app.js"></script>
      <script src="/user.js"></script>
      <script src="/service_worker.js"></script>
      <script srs="/admin.js"></script>
  </head>

  <body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="/" class="nav-link px-2 text-secondary">Covid Test Registration System</a></li>
            </ul>

            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
              <svg class="bi me-2" width="40" height="32"></svg>
              <span class="h3" th:text="${name}"/>
            </a>

            <div class="text-end">
              <button id="logoutBtn" type="button" class="btn btn-outline-light me-2">Logout</button>
            </div>
          </div>
        </div>
    </header>

    <div class="container">
        <div class="row border border-info p-5 m-5">
          <h1 class="h3 text-center text-success">All Bookings</h1>
          <table class="table" id="allBookingsTable">
              <thead id="allBookingsHeader">
                  <tr>
                      <th scope="col">#</th>
                      <th scope="col">Booking ID</th>
                      <th scope="col">Test DateTime</th>
                      <th scope="col">Test Venue</th>
                      <th scope="col">Verification</th>
                      <th scope="col">Booking Status</th>
                      <th scope="col">Actions</th>

                  </tr>
              </thead>
              <tbody id="allBookingsBody">
                  <tr th:each="booking, iterationStats: ${bookings}" th:id="booking_ + ${booking.BOOKING_ID}">
                      <td scope="row" class="table-light" th:text="${iterationStats.index + 1}" />
                      <td scope="row" class="table-light" th:text="${booking.BOOKING_ID}" />
                      <td scope="row" class="table-light" th:text="${booking.getTestDateTime()}" />
                      <td scope="row" class="table-light" th:text="${booking.getTestSiteID() == null ? 'Home Test' : booking.getTestSiteID()}" />
                      <td scope="row" class="table-light" th:text="${booking.getVerificationCode()}" />
                      <td scope="row" class="table-light" th:text="${booking.getTestDateTimeObj().isAfter(currentDateTime) ? 'Scheduled' : 'Lapsed'}"  th:id="status"/>

                      <td scope="row" class="table-light"> <button id="bookingCancel" type="button" class="btn btn-danger">Cancel</button> </td>

                      <td scope="row" class="table-light">
                          <a th:href="@{/user/updatebooking/{id} (id=${booking.BOOKING_ID})}" class="btn btn-primary"> Edit </a>

                      </td>

                  </tr>
              </tbody>
          </table>
        </div>

        <div class="row border border-info p-5 m-5">
            <h1 class="h3 text-center text-success">Booking for Home Testing</h1>
            <form th:action="@{/user}" th:object="${bookingMsg}" method="POST">
                <div class="mb-3">
                    <label for="residentID" class="form-label">Resident ID</label>
                    <input th:field="*{residentID}" type="text" class="form-control" id="residentID"
                           th:placeholder="${user.USER_ID}" disabled>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="requireTestKit" value="yes">
                    <label th:field="*{requireTestKit}" class="form-check-label" for="requireTestKit">Need a Test Kit</label>
                </div>
                <div class="mb-3">
                    <label class="form-label">Test Date</label>
                    <input th:field="*{testDateTime}" type="datetime-local" class="form-control" id="testDate" required>
                </div>
                <button type="submit" class="btn btn-primary">Create Booking</button>
            </form>
        </div>

    </div>




    <!-- make some space at the bottom of the UI (web browser) -->
    <div class="container"></div>
    <div class="container"></div>
  </body>
</html>
